body {
	letter-spacing: 0.02em;
}

h1, h2, h3, h4, h5, h6, p {
	vertical-align: baseline;
}

a {
	color: inherit;
}

img {
	max-width: 100%;
	height: auto;
}

.title-text {
	font-size: 16px !important;
	font-weight: 600 !important;
}

.sub-text {
	font-size: 14px !important;
	font-weight: 600 !important;
}

.body2-text {
	font-size: 14px !important;
}

.tiny-text {
	font-size: 12px !important;
}

@media screen and (min-width: 768px) {
	.body-text {
			font-size: 16px !important;
		}
		
}

.btn-primary {
	background: #0068FF;
	&:hover {
		background: #003BB7;
	}
	&.btn:active{
		background: #003BB7;
	}
}
