<footer class="footer-rounded" style="background: #282828;">
    <div class="container">
        <div class="footer-content text-white px-3 py-12 py-lg-25">
            <!-- PC左邊 -->
            <div class="d-flex flex-column flex-lg-row justify-content-lg-between mb-10 mb-lg-4">
                <img src="../assets/images/logo-white.png" class="footer-logo mb-10 mb-lg-0" alt="gooter-logo">
                <ul class="list-unstyled body2-text d-grid gap-6 gap-lg-8 my-lg-0 mb-0 mt-lg-auto fw-medium d-lg-flex">
                    <li><a href="#" class="footer-link">常見問題</a></li>
                    <li><a href="#" class="footer-link">關於我們</a></li>
                    <li><a href="#" class="footer-link">隱私權政策</a></li>
                    <li><a href="#" class="footer-link">使用者條款</a></li>
                </ul>
            </div>
            <!-- PC右邊 -->
            <div class="d-flex flex-column flex-lg-row-reverse justify-content-lg-between ">
                <ul class="list-unstyled d-grid gap-4 d-flex mb-8 mb-lg-0">
                    <li class="footer-icon p-3 rounded-circle border border-white"><a href="#"><i class="bi bi-line"></i></a></li>
                    <li class="footer-icon p-3 rounded-circle border border-white"><a href="#"><i class="bi bi-play-btn-fill"></i></a></li>
                    <li class="footer-icon p-3 rounded-circle border border-white"><a href="#"><i class="bi bi-facebook"></i></a></li>
                </ul>
                <p class="tiny-text text-D4D4D4 mt-lg-auto">copyright © 2024 課程網站 All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>